!!!5
html
  head
    title="obstaclr"
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='//code.jquery.com/ui/1.10.0/jquery-ui.js')
    script(src='crafty.js')
    script(src='/socket.io/socket.io.js')
    script(src='page.js')
  body
    .splash-menu
      h1.main-header
        |obstacl<span class='r'>r</span>
      #name-entry
        label
          |enter your name:
        br
        input(type="text", name="playerName")
        br
        button#nextbutton Next
    .game-box
      #greenzone
      h1.main-header
        |obstacl<span class='r'>r</span>
      canvas#canvas(width="1195", height="400")
      #yolopage
        #yolotext YOLO
        #losemessage 
          #losemessagetext
            |player <span class='r'>r</span> dead. and you only live <span id=once>once</span>.
          br
          button#switch SWITCH
          button#quit QUIT
      .controls-box
        .player-controls
          .content
            |use the arrow keys to move up and down. avoid the obstaclr's obstacles. reach the green zone to win. hit the black zone and die
        .obstaclr-controls
          .content
            |paint lines to block the player, with a limited supply of paint. blue slows, yellow knocks back, and black kills
          .buttons
            #blackbuttonwrap
              #blackcounter
                |25
              button#blackpaintbutton.selected a
            #bluebuttonwrap
              #bluecounter
                |78
              button#bluepaintbutton s
            #yellowbuttonwrap
              #yellowcounter
                |100
              button#yellowpaintbutton d


    #game-start
      h1.main-header
        |obstacl<span class='r'>r</span>
      #friendname
        label
          |if you are playing with a friend, enter your friend's name:
        br
        input(type="text", name="friendsName")
        br
        button#play PLAY NOW
        br
        br
      //#random
      //|otherwise, choose your role
      //br
      //.role MAPPER
      //.role PLAYER
      //br
      //button#match MATCH ME NOW

    label#playersInLobby
      span#lobbyCount| 0
      |  players in the lobby

