!!!5
html
  head
    title="obstaclr"
    link(rel='stylesheet', href='style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='game.js')
    script(src='page.js')
    script(src='crafty.js')
  body
    .splash-menu
      h1.main-header
        |obstacl<span class='r'>r</span>
      #name-entry
        label
          |enter your name:
        br
        input(type="text, name="playerName")
        br
        button#nextbutton Next

    #game-start
      h1.main-header
        |obstacl<span class='r'>r</span>
      #friendname
        label
          |if you are playing with a friend, enter your friend's name:
        br
        input(type="text, name="friendsName")
        br
        button#play PLAY NOW
      //#random
      //  otherwise, choose your role
      //  button#mapper MAPPER
      //  button#player PLAYER
      //  button#match MATCH ME NOW




