@import url("http://fonts.googleapis.com/css?family=Iceland");
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body{font-family:'Iceland',sans;font-size:100%;overflow:hidden;background-color:#ddd}
.main-header{font-size:4em;font-weight:bold;color:#0b61a4;width:95%;padding-left:5%;background:#eee;}
.main-header .r{color:#ff4900}
.splash-menu{width:500px;margin:50px auto;background-color:#fff}
#name-entry{font-size:1.5em;text-align:center;padding:30px 0 30px 0;}
#name-entry label{color:#ff7640}
#name-entry input{font-size:.8em;padding:5px;border:2px solid #000}
#name-entry button{background-color:#666;font-family:"Iceland";font-size:.9em;border:none;color:#fff;padding:3px}
#name-entry button:hover{background-color:#333}
#name-entry button:active{background-color:#bf5930}
#game-start{display:none}
.game-box{width:1000px;height:700px;background-color:#008000}
.hidden-below{-webkit-transform:translate(0,1000px);-moz-transform:translate(0,1000px);-o-transform:translate(0,1000px);-ms-transform:translate(0,1000px);transform:translate(0,1000px)}
.hidden-above{-webkit-transform:translate(0,-1000px);-moz-transform:translate(0,-1000px);-o-transform:translate(0,-1000px);-ms-transform:translate(0,-1000px);transform:translate(0,-1000px)}
