@import url("http://fonts.googleapis.com/css?family=Iceland");
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body{font-family:'Iceland',sans;font-size:100%;overflow:hidden;background-color:#ddd}
.main-header{font-size:4em;font-weight:bold;color:#0b61a4;width:95%;padding-left:5%;background:#eee;}
.main-header .r{color:#ff4900}
.splash-menu{width:500px;margin:50px auto;background-color:#fff;}
.splash-menu .validation{color:#ff4900;font-size:15px;display:none;text-align:center;padding-top:5px}
#name-entry{font-size:1.5em;text-align:center;padding:30px 0 30px 0;}
#name-entry label{color:#ff7640;font-weight:bold}
#name-entry input{font-size:.8em;margin:5px 0;padding:5px;border:2px solid #000}
#name-entry button{background-color:#666;font-family:"Iceland";font-size:.9em;border:none;color:#fff;padding:3px}
#name-entry button:hover{background-color:#333}
#name-entry button:active{background-color:#ff7640}
#friendname{font-size:1.5em;text-align:center;}
#friendname label{color:#666}
#friendname input{font-size:.8em;padding:5px;margin:5px 0;border:2px solid #000}
#friendname button{background-color:#666;font-family:"Iceland";font-size:.9em;border:none;color:#fff;padding:3px}
#friendname button:hover{background-color:#333}
#friendname button:active{background-color:#bf5930}
#playersInLobby{font-size:1.5em;text-align:center;color:#ff7640;position:relative;left:50%;margin-left:-100px}
#chooserole{font-size:1.5em;text-align:center;color:#666;padding:30px 0 30px 0;}
#chooserole #chooserolemessage{font-size:1.7em;margin-bottom:5px}
#chooserole input{margin-bottom:10px}
#chooserole .role{color:#000}
#chooserole .role:hover{color:#ff7640}
#random{font-size:1.5em;text-align:center;color:#666;padding:30px 0 30px 0;}
#random input{margin-bottom:10px}
#random button{background-color:#666;font-family:"Iceland";font-size:.9em;border:none;color:#fff;padding:3px}
#random button:hover{background-color:#333}
#random button:active{background-color:#bf5930}
#invitepage{font-size:1.5em;text-align:center;color:#666;padding:30px 0 30px 0;display:none;width:600px;margin:50px auto;background-color:#fff;}
#invitepage button{background-color:#666;font-family:"Iceland";font-size:.9em;border:none;color:#fff;padding:3px}
#invitepage button:hover{background-color:#333}
#invitepage button:active{background-color:#bf5930}
#game-start{display:none;width:600px;margin:50px auto;background-color:#fff;}
#game-start .validation{color:#ff4900;font-size:15px;display:none;text-align:center;padding-top:5px}
.game-box{display:none;position:relative;width:100%;height:100%}
#greenzone{position:absolute;z-index:2;background:rgba(103,227,0,0.3);width:200px;height:400px;left:50%;top:114px}
#canvas{width:1195px;border-left:5px solid #000;height:400px;position:relative;left:50%;margin-top:50px;margin-bottom:0;margin-left:-600px;background:#fff;margin-bottom:-3px}
.endofgamepage{display:none;width:1195px;border-left:5px solid #000;height:400px;position:absolute;top:64px;left:50%;margin-top:50px;margin-bottom:0;margin-left:-600px;background:#fff;z-index:1000;}
.endofgamepage .bigcaption{font-size:150px;text-align:center;color:#ff4900;margin:20px 0 20px 0}
.endofgamepage .messagebox{font-size:40px;text-align:center;}
.endofgamepage .messagebox .r{color:#ff4900}
.endofgamepage .messagebox .bluetext{color:#0b61a4}
.endofgamepage .messagebox button{background-color:#666;font-family:"Iceland";font-size:.9em;border:none;color:#fff;padding:3px;margin-left:10px;margin-right:10px}
.endofgamepage .messagebox button:hover{background-color:#333}
.endofgamepage .messagebox button:active{background-color:#bf5930}
.controls-box{vertical-align:top;border-top:2px solid #999;width:1200px;margin:0 auto;background-color:#ccc;height:100px;font-size:1.3em;}
.controls-box h2{text-align:center;width:100%;font-size:1.3em}
.player-controls{vertical-align:top;display:inline-block;width:559px;height:100%;padding-left:20px;padding-right:20px;text-align:center;border-right:2px solid #999;}
.player-controls .content{padding-top:25px}
.obstaclr-controls{vertical-align:top;display:inline-block;width:599px;height:100%;}
.obstaclr-controls .content{vertical-align:top;padding:15px 10px;width:309px;height:100%;display:inline-block;text-align:center}
.obstaclr-controls .buttons{padding-top:7px;vertical-align:top;width:45%;display:inline-block;text-align:center;}
.obstaclr-controls .buttons div{display:inline-block;width:80px}
.obstaclr-controls .buttons #bluecounter{color:#0b61a4}
.obstaclr-controls .buttons #yellowcounter{color:#ffbf00}
.obstaclr-controls .buttons button{font-family:"Iceland";width:50px;height:50px;margin:7px 15px;font-size:1.75em;border:none}
.obstaclr-controls .buttons button.selected{outline:4px solid #fff}
.obstaclr-controls .buttons #blackpaintbutton{background:#000;color:#fff}
.obstaclr-controls .buttons #blackpaintbutton:hover{background:#333}
.obstaclr-controls .buttons #blackpaintbutton:active{background:#555}
.obstaclr-controls .buttons #bluepaintbutton{background:#0b61a4;color:#fff}
.obstaclr-controls .buttons #bluepaintbutton:hover{background:#3f92d2}
.obstaclr-controls .buttons #bluepaintbutton:active{background:#66a3d2}
.obstaclr-controls .buttons #yellowpaintbutton{background:#ffbf00;color:#fff}
.obstaclr-controls .buttons #yellowpaintbutton:hover{background:#ffcf40}
.obstaclr-controls .buttons #yellowpaintbutton:active{background:#ffdc73}
.hidden-below{-webkit-transform:translate(0,1000px);-moz-transform:translate(0,1000px);-o-transform:translate(0,1000px);-ms-transform:translate(0,1000px);transform:translate(0,1000px)}
.hidden-above{-webkit-transform:translate(0,-1000px);-moz-transform:translate(0,-1000px);-o-transform:translate(0,-1000px);-ms-transform:translate(0,-1000px);transform:translate(0,-1000px)}
