@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Iceland)

$blue = #0b61a4
$darkblue = #25567b
$darkerblue = #033e6b
$lightblue = #3f92d2
$lighterblue = #66a3d2

$yellow = #ffbf00
$darkyellow = #bf9b30
$darkeryellow = #a67c00
$lightyellow = #ffcf40
$lighteryellow = #ffdc73

$orange = #ff4900
$darkorange = #bf5930
$darkerorange = #a62f00
$lightorange = #ff7640
$lighterorange = #ff9b73

global-reset();

body
  font-family: 'Iceland', sans
  font-size: 100%
  overflow:hidden
  background-color:#ddd


.main-header
  font-size: 4em
  font-weight:bold
  color: $blue
  width:95%
  padding-left:5%
  background: #eee
  .r
    color: $orange

.splash-menu
  width: 500px
  margin: 50px auto
  background-color: #fff

#name-entry
  font-size: 1.5em
  text-align:center
  padding: 30px 0px 30px 0px
  label
    color: $lightorange
  input
    font-size: .8em
    padding: 5px
    border: 2px solid black
  button
    background-color: #666
    font-family: "Iceland"
    font-size: .9em
    border: none
    color:white
    padding: 3px
  button:hover
    background-color:#333
  button:active
    background-color: $darkorange


#game-start
  display:none

.game-box
  width: 1000px
  height: 700px
  background-color:green

.hidden-below
  transform:translate(0px, 1000px);

.hidden-above
  transform:translate(0px, -1000px);
