@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Iceland)

$blue = #0b61a4
$darkblue = #25567b
$darkerblue = #033e6b
$lightblue = #3f92d2
$lighterblue = #66a3d2

$yellow = #ffbf00
$darkyellow = #bf9b30
$darkeryellow = #a67c00
$lightyellow = #ffcf40
$lighteryellow = #ffdc73

$orange = #ff4900
$darkorange = #bf5930
$darkerorange = #a62f00
$lightorange = #ff7640
$lighterorange = #ff9b73

global-reset();

body
  font-family: 'Iceland', sans
  font-size: 100%
  overflow:hidden
  background-color:#ddd


.main-header
  font-size: 4em
  font-weight:bold
  color: $blue
  width:95%
  padding-left:5%
  background: #eee
  .r
    color: $orange

.splash-menu
  width: 500px
  margin: 50px auto
  background-color: #fff
  .validation
    color:$orange
    font-size:15px;
    display:none;
    text-align:center
    padding-top:5px

#name-entry
  font-size: 1.5em
  text-align:center
  padding: 30px 0px 30px 0px
  label
    color: $lightorange
    font-weight:bold
  input
    font-size: .8em
    margin: 5px 0px
    padding: 5px
    border: 2px solid black
  button
    background-color: #666
    font-family: "Iceland"
    font-size: .9em
    border: none
    color:white
    padding: 3px
  button:hover
    background-color:#333
  button:active
    background-color: $lightorange


#friendname
  font-size: 1.5em
  text-align:center
  label
    color: #666
  input
    font-size: .8em
    padding: 5px
    margin: 5px 0px
    border: 2px solid black
  button
    background-color: #666
    font-family: "Iceland"
    font-size: .9em
    border: none
    color:white
    padding: 3px
  button:hover
    background-color:#333
  button:active
    background-color: $darkorange

#playersInLobby
  font-size: 1.5em
  text-align:center
  color: $lightorange
  position relative
  left: 50%
  margin-left: -100px

#chooserole
  font-size: 1.5em
  text-align:center
  color: #666
  padding: 30px 0px 30px 0px
  #chooserolemessage
    font-size:1.7em
    margin-bottom:5px
  input
    margin-bottom:10px;
  .role
    color: black
  .role:hover
    color: $lightorange

#random
  font-size: 1.5em
  text-align:center
  color: #666
  padding: 30px 0px 30px 0px
  input
    margin-bottom:10px;
  button
    background-color: #666
    font-family: "Iceland"
    font-size: .9em
    border: none
    color:white
    padding: 3px
  button:hover
    background-color:#333
  button:active
    background-color: $darkorange

#invitepage
  font-size: 1.5em
  text-align:center
  color: #666
  padding: 30px 0px 30px 0px
  display:none
  width: 600px
  margin: 50px auto
  background-color: #fff
  button
    background-color: #666
    font-family: "Iceland"
    font-size: .9em
    border: none
    color:white
    padding: 3px
  button:hover
    background-color:#333
  button:active
    background-color: $darkorange


#game-start
  display:none
  width: 600px
  margin: 50px auto
  background-color: #fff
  .validation
    color:$orange
    font-size:15px;
    display:none;
    text-align:center
    padding-top:5px


.game-box
  display none
  position relative
  width: 100%
  height:100%
#greenzone
  position: absolute
  z-index 2
  background: rgba(103, 227, 0, .3)
  width:200px
  height:400px
  left: 50%
  top:114px
#canvas
  width: 1195px
  border-left:5px solid black
  height: 400px
  position relative
  left 50%
  margin-top:50px
  margin-bottom:0
  margin-left: -600px
  background: white
  margin-bottom:-3px

.endofgamepage
  display:none
  width: 1195px
  border-left:5px solid black
  height: 400px
  position absolute
  top:64px
  left 50%
  margin-top:50px
  margin-bottom:0
  margin-left: -600px
  background: white
  z-index:1000;
  .bigcaption
    font-size:150px;
    text-align:center
    color: $orange
    margin: 20px 0 20px 0
  .messagebox
    font-size:40px;
    text-align: center
    .r 
      color: $orange
    .bluetext 
      color: $blue
    button
      background-color: #666
      font-family: "Iceland"
      font-size: .9em
      border: none
      color:white
      padding: 3px
      margin-left:10px
      margin-right:10px
    button:hover
      background-color:#333
    button:active
      background-color: $darkorange

.controls-box
  vertical-align:top
  border-top: 2px solid #999
  width:1200px
  margin: 0 auto
  background-color #ccc
  height: 100px
  font-size: 1.3em
  h2
    text-align:center
    width: 100%
    font-size: 1.3em

.player-controls
  vertical-align:top
  display:inline-block
  width:559px
  height: 100%
  padding-left: 20px
  padding-right: 20px
  text-align:center
  border-right:2px solid #999
  .content
    padding-top:25px

.obstaclr-controls
  vertical-align:top
  display:inline-block
  width:599px
  height:100%
  .content
    vertical-align top
    padding: 15px 10px
    width:309px;
    height: 100%
    display: inline-block
    text-align:center
  .buttons
    padding-top: 7px
    vertical-align top
    width:45%
    display: inline-block
    text-align center
    div
      display: inline-block
      width:80px
    #bluecounter
      color $blue
    #yellowcounter
      color $yellow
    button
      font-family "Iceland"
      width: 50px
      height:50px
      margin: 7px 15px
      font-size: 1.75em
      border:none
    button.selected
      outline 4px solid white
    #blackpaintbutton
      background: black
      color: white
    #blackpaintbutton:hover
      background: #333
    #blackpaintbutton:active
      background: #555
    #bluepaintbutton
      background: $blue
      color: white
    #bluepaintbutton:hover
      background: $lightblue
    #bluepaintbutton:active
      background: $lighterblue
    #yellowpaintbutton
      background: $yellow
      color: white
    #yellowpaintbutton:hover
      background: $lightyellow
    #yellowpaintbutton:active
      background: $lighteryellow

.hidden-below
  transform:translate(0px, 1000px);

.hidden-above
  transform:translate(0px, -1000px);
