@import 'nib';
@import url(http://fonts.googleapis.com/css?family=Iceland);


global-reset();

body
  font-family: 'Iceland', sans
  font-size: 100%


.main-header

.splash-menu
  width: 500px
  height:600px
  background-color:red
.game-box
  width: 1000px
  height: 700px
  background-color:green

.hidden-below
  transform:translate(0px, 1000px);

.hidden-above
  transform:translate(0px, -1000px);
